# Cible Home Assistant pour Traefik
HA_VM_IP=192.168.1.66
COCKPIT_FQDN=cockpit.doudou.house
COCKPIT_PORT=9090

# Parametres par defaut utiles pour le script d'installation VM
PHYS_IFACE=wlan0
BRIDGE_NAME=br0
VM_NAME=home-assistant
TARGET_USER=pi
