**/.htpasswd
haos/iac/.terraform/
haos/iac/.terraform.lock.hcl
haos/state/terraform.tfstate
haos/state/terraform.tfstate.backup
haos/config/terraform.tfvars
haos/iac/*.tfplan
cockpit/config/cockpit-machines.conf
